extends ../layout

block body
  .main(role='main')
    section.page-header.page-header-modern.bg-color-quaternary.page-header-md.custom-page-header
      .container
        .row.mt-3
          .col-md-8.order-2.order-md-1.align-self-center.p-static
            h1 - Expertise
            span.d-block.text-4 What We Do
          .col-md-4.order-1.order-md-2.align-self-center
            ul.breadcrumb.d-block.text-md-right.breadcrumb-light
              li
                a(href=l('l')) Home
              li.active Expertise
    .container
      .row.pt-1.pb-5.mb-3
        .col
          .row.mb-3
            .col
              .feature-box.custom-feature-box.custom-feature-box-active.feature-box-style-2
                .feature-box-icon
                  img(src=manifest('../img/demos/business-consulting/expertise/expertise-1.jpg') alt='')
                .feature-box-info.ml-3
                  h4.font-weight-normal.text-5 Corporate Finance
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu semper tellus, at condimentum tortor. Curabitur pulvinar orci nunc, at facilisis nisl vehicula tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce eget est viverra, venenatis.
                  a(href=l('/expertise/about'))
                    | Read More
                    i.fas.fa-long-arrow-alt-right
          .row.mb-3
            .col
              .feature-box.custom-feature-box.custom-feature-box-active.feature-box-style-2
                .feature-box-icon
                  img(src=manifest('../img/demos/business-consulting/expertise/expertise-2.jpg') alt='')
                .feature-box-info.ml-3
                  h4.font-weight-normal.text-5 Corporate Restructuring
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu semper tellus, at condimentum tortor. Curabitur pulvinar orci nunc, at facilisis nisl vehicula tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce eget est viverra, venenatis.
                  a(href=l('/expertise/about'))
                    | Read More
                    i.fas.fa-long-arrow-alt-right
          .row.mb-3
            .col
              .feature-box.custom-feature-box.custom-feature-box-active.feature-box-style-2
                .feature-box-icon
                  img(src=manifest('../img/demos/business-consulting/expertise/expertise-3.jpg') alt='')
                .feature-box-info.ml-3
                  h4.font-weight-normal.text-5 Economic Consulting
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu semper tellus, at condimentum tortor. Curabitur pulvinar orci nunc, at facilisis nisl vehicula tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce eget est viverra, venenatis.
                  a(href=l('/expertise/about'))
                    | Read More
                    i.fas.fa-long-arrow-alt-right
          .row.mb-3
            .col
              .feature-box.custom-feature-box.custom-feature-box-active.feature-box-style-2
                .feature-box-icon
                  img(src=manifest('../img/demos/business-consulting/expertise/expertise-4.jpg') alt='')
                .feature-box-info.ml-3
                  h4.font-weight-normal.text-5 Litigation Consulting
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu semper tellus, at condimentum tortor. Curabitur pulvinar orci nunc, at facilisis nisl vehicula tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce eget est viverra, venenatis.
                  a(href=l('/expertise/about'))
                    | Read More
                    i.fas.fa-long-arrow-alt-right
          .row.mb-3
            .col
              .feature-box.custom-feature-box.custom-feature-box-active.feature-box-style-2
                .feature-box-icon
                  img(src=manifest('../img/demos/business-consulting/expertise/expertise-5.jpg') alt='')
                .feature-box-info.ml-3
                  h4.font-weight-normal.text-5 Strategic Consulting
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu semper tellus, at condimentum tortor. Curabitur pulvinar orci nunc, at facilisis nisl vehicula tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce eget est viverra, venenatis.
                  a(href=l('/expertise/about'))
                    | Read More
                    i.fas.fa-long-arrow-alt-right
          .row
            .col
              .feature-box.custom-feature-box.custom-feature-box-active.feature-box-style-2
                .feature-box-icon
                  img(src=manifest('../img/demos/business-consulting/expertise/expertise-6.jpg') alt='')
                .feature-box-info.ml-3
                  h4.font-weight-normal.text-5 Tech Consulting
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu semper tellus, at condimentum tortor. Curabitur pulvinar orci nunc, at facilisis nisl vehicula tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce eget est viverra, venenatis.
                  a(href=l('/expertise/about'))
                    | Read More
                    i.fas.fa-long-arrow-alt-right
    section.section.section-text-light.section-background.m-0(style="background: url('../../img/demos/business-consulting/contact/contact-background.jpg'); background-size: cover;")
      .container
        .row.justify-content-md-center
          .col-lg-6.mb-5.mb-lg-0
            h2.font-weight-bold - Contact Us
            p.custom-opacity-font
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper.
            .row
              .col-md-6.custom-sm-margin-top
                h4.mb-1 Call Us
                a.text-decoration-none(href='tel:+1234567890' target='_blank' title='Call Us')
                  span.custom-call-to-action-2.text-color-light.text-2.custom-opacity-font
                    | Phone
                    span.info.text-5
                      | 123-456-7890
              .col-md-6.custom-sm-margin-top
                h4.mb-1 Our Location
                p.custom-opacity-font Porto Business Consulting 123 Porto Blvd, Suite 100 New York, NY
            .row
              .col-md-6.custom-sm-margin-top
                h4.mb-1 Mail Us
                a.text-decoration-none(href='mail:mail@example.com' target='_blank' title='Mail Us')
                  span.custom-call-to-action-2.text-color-light.text-2.custom-opacity-font
                    | Email
                    span.info.text-5
                      | mail@example.com
              .col-md-6.custom-sm-margin-top
                h4.mb-1 Social Media
                ul.social-icons.social-icons-clean.custom-social-icons-style-1.mt-2.custom-opacity-font
                  li.social-icons-facebook
                    a(href='http://www.facebook.com/' target='_blank' title='Facebook')
                      i.fab.fa-facebook-f
                  li.social-icons-twitter
                    a(href='http://www.twitter.com/' target='_blank' title='Twitter')
                      i.fab.fa-twitter
                  li.social-icons-instagram
                    a(href='http://www.instagram.com/' target='_blank' title='Instagram')
                      i.fab.fa-instagram
                  li.social-icons-linkedin
                    a(href='http://www.linkedin.com/' target='_blank' title='Linkedin')
                      i.fab.fa-linkedin-in
          .col-lg-6.custom-sm-margin-top
            h2.font-weight-bold - Write Us
            form#contactForm.contact-form.custom-contact-form-style-1(action='php/contact-form.php' method='POST')
              #contactSuccess.contact-form-success.alert.alert-success.d-none.mt-4
                strong Success!
                |  Your message has been sent to us.
              #contactError.contact-form-error.alert.alert-danger.d-none.mt-4
                strong Error!
                |  There was an error sending your message.
                span#mailErrorMessage.mail-error-message.text-1.d-block
              input(type='hidden' name='subject' value='Contact Message Received')
              .form-row
                .form-group.col
                  .custom-input-box
                    i.icon-user.icons.text-color-primary
                    input#name.form-control(type='text' value='' data-msg-required='Please enter your name.' maxlength='100' name='name' placeholder='Name*' required='')
              .form-row
                .form-group.col
                  .custom-input-box
                    i.icon-envelope.icons.text-color-primary
                    input#email.form-control(type='email' value='' data-msg-required='Please enter your email address.' data-msg-email='Please enter a valid email address.' maxlength='100' name='email' placeholder='Email*' required='')
              .form-row
                .form-group.col
                  .custom-input-box
                    i.icon-bubble.icons.text-color-primary
                    textarea#message.form-control(maxlength='5000' data-msg-required='Please enter your message.' rows='10' name='message' placeholder='Message*' required='')
              .form-row
                .form-group.col
                  input.btn.btn-outline.custom-border-width.btn-primary.custom-border-radius.font-weight-semibold.text-uppercase(type='submit' value='Submit Now' data-loading-text='Loading...')
